
{% extends 'fixed/base.html' %}

{% load staticfiles %}

{% block title %}PhoneBook{% endblock %}

{% block message %}


    {% if msg %}
        <div class="row">
            <div class="col s12 m12">
                <div class="card teal lighten-2">
                    <div class="card-content white-text">
    {#                <span class="card-title">Card Title</span>#}
                    <ul>
                        <li>{{ msg }}</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block body %}


<ul class="collapsible" data-collapsible="accordion">

            <li>
                <div class="collapsible-header truncate" style="font-size:18px;padding: 5px;padding-left: 13px;">&nbsp;<i class="material-icons">cloud_download</i>In This Corner of the World (2016)<span class="badge hide-on-med-and-down">3.43 GB</span></div>
                <div class="collapsible-body">
                    <p style="line-height: 1.8;font-size: 15px;">
                    <span>Title: In This Corner of the World (2016)</span><br>
                    <span>Date: March 26, 2018, 12:44 p.m.</span><br>
                    <span>Tag: Movie</span><br>
                    <span>Size: 3.43 GB</span><br>
                    <span>Submitted by: Cartmanishere</span><br><br/>
                    <div class="row">
                        <div class="col s12 m4 l4">
                             <a class="waves-effect waves-light btn indigo" href="/detail/1886/">View</a>

                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="collapsible-header truncate" style="font-size:18px;padding: 5px;padding-left: 13px;">&nbsp;<i class="material-icons">cloud_download</i>Prozac Nation 2001 [720p WEB-DL AC3 5.1 x264 8bit]<span class="badge hide-on-med-and-down">3.01 GB</span></div>
                <div class="collapsible-body">
                    <p style="line-height: 1.8;font-size: 15px;">
                    <span>Title: Prozac Nation 2001 [720p WEB-DL AC3 5.1 x264 8bit]</span><br>
                    <span>Date: March 26, 2018, 12:44 p.m.</span><br>
                    <span>Tag: Movie</span><br>
                    <span>Size: 3.01 GB</span><br>
                    <span>Submitted by: Cartmanishere</span><br><br/>
                    <div class="row">
                        <div class="col s12 m4 l4">
                             <a class="waves-effect waves-light btn indigo" href="/detail/1884/">View</a>

                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="collapsible-header truncate" style="font-size:18px;padding: 5px;padding-left: 13px;">&nbsp;<i class="material-icons">cloud_download</i>Anything Else (2003)<span class="badge hide-on-med-and-down">1.63 GB</span></div>
                <div class="collapsible-body">
                    <p style="line-height: 1.8;font-size: 15px;">
                    <span>Title: Anything Else (2003)</span><br>
                    <span>Date: March 26, 2018, 12:44 p.m.</span><br>
                    <span>Tag: Movie</span><br>
                    <span>Size: 1.63 GB</span><br>
                    <span>Submitted by: Cartmanishere</span><br><br/>
                    <div class="row">
                        <div class="col s12 m4 l4">
                             <a class="waves-effect waves-light btn indigo" href="/detail/1881/">View</a>

                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="collapsible-header truncate" style="font-size:18px;padding: 5px;padding-left: 13px;">&nbsp;<i class="material-icons">cloud_download</i>The Panic in Needle Park (1971)<span class="badge hide-on-med-and-down">1.64 GB</span></div>
                <div class="collapsible-body">
                    <p style="line-height: 1.8;font-size: 15px;">
                    <span>Title: The Panic in Needle Park (1971)</span><br>
                    <span>Date: March 26, 2018, 12:44 p.m.</span><br>
                    <span>Tag: Movie</span><br>
                    <span>Size: 1.64 GB</span><br>
                    <span>Submitted by: Cartmanishere</span><br><br/>
                    <div class="row">
                        <div class="col s12 m4 l4">
                             <a class="waves-effect waves-light btn indigo" href="/detail/1880/">View</a>

                        </div>
                    </div>
                </div>
            </li>
</ul>


<script src="{% static 'custom/js/ajax.js' %}?{{ current_time }}" type="text/javascript">
</script>


{% endblock %}

