
{% extends 'fixed/base.html' %}

{% load staticfiles %}

{% block title %}PhoneBook{% endblock %}

{% block message %}


    {% if msg %}
        <div class="row">
            <div class="col s12 m12">
                <div class="card teal lighten-2">
                    <div class="card-content white-text">
    {#                <span class="card-title">Card Title</span>#}
                    <ul>
                        <li>{{ msg }}</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block body %}


    <ul class="collapsible" data-collapsible="accordion">

    {% for name in names %}

        <li>
            <div class="collapsible-header truncate" style="font-size:18px;padding: 5px;padding-left: 13px;">&nbsp;<i class="material-icons">cloud_download</i>{{ name.name }}</div>
            <div class="collapsible-body">
                <p style="line-height: 1.8;font-size: 15px;">
                <span>Name: {{ name.name }}</span><br>

                {% for phone in name.phone_set.values %}

                    <span>Phone: {{ phone.phone_no }}</span><br>

                {% endfor %}

                {% for email in name.email_set.values %}

                    <span>Email: {{ email.email_id }}</span><br>

                {% endfor %}
            </div>
        </li>

    {% endfor %}


    </ul>


<script src="{% static 'custom/js/ajax.js' %}?{{ current_time }}" type="text/javascript">
</script>


{% endblock %}

